@import '../variables';


.section {
  padding: 80px 0;

  &.second {
    background: url("/../images/bg-section.png"), url("/../images/bg-section-2.png"), $section-bg-sec;
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-size: 200px;
  }

  .title-wrapper-center {
    margin-bottom: 80px;

    h3.title {
      font-family: $font-heading;
      text-align: center;
      color: $font-color-heading;
      font-size: 2.5rem;
      margin-bottom: 0px;
      position: relative;

      &:before, &:after {
        content: '';
        width: 35%;
        height: 1px;
        background-color: #DFDFDF;
        position: absolute;
        top: calc(50% - 1px);
      }

      &:before {
        left: 15px;
      }

      &:after {
        right: 15px;
      }
    }
  }

  .text-left-module {
    .title-wrapper-left {
      h3.title {
        font-family: $font-heading;
        color: $font-color-heading;
        font-size: 2.5rem;
        margin-bottom: 40px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 40px;
          height: 2px;
          background-color: $primary-color;
          left: 0;
          bottom: -20px;
        }
      }
    }

    .description-wrapper {
      p {
        color: $font-color-text;
        font-weight: 300;
        text-align: justify;
      }
    }

    .button-wrapper {
      margin: 30px 0;
    }
  }


  &.idea{

    .img-wrapper{
      width: 100%;
    }
    .text-card{
      background: #FFFFFF;
      box-shadow: 0 0 34px -21px rgba(0,0,0,0.50);
      padding: 40px 60px;
      z-index: 4;
      margin-left: -40px;

      h2{
        font-family: $font-heading;
        color: $font-color-heading;
        margin-bottom: 30px;
      }
      p{
        font-weight: 300;
        color: $font-color-text;
        text-align: justify;
        font-size: 0.92rem;
      }

    }
  }

  &.toys-about{
    .img-wrapper-toys{
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .item{
        display: flex;
        width: 50%;
      }
    }
    .description-text{
      margin-left: 20px;
      p{
        font-weight: 300;
        font-size: 0.92rem;
        text-align: justify;
      }

      .logo-toys{
        margin-top: 60px;
        p:first-of-type{
          font-weight: 400;
          color: $font-color-heading;
          margin-bottom: 0;
        }

        .logo-wrapper{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          img.logo{
            opacity: 0.4;
            transition: opacity 0.25s ease-in;

            &:hover{
              opacity: 1;
            }
          }
        }

      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .home-page {
    .top-section {

      .buttons-wrapper {
        flex-direction: column;

        a {
          flex: 1 0 0;

          &:nth-of-type(1) {
            margin-right: 0;
            margin-bottom: 20px;
          }

          &:nth-of-type(2) {
            margin: 0;
          }
        }
      }
    }

  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .section.kawiarnia{
    .image-wrapper{
      display: none;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {


}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .section.idea .text-card{
    margin-left: 0;
  }

}
