// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=latin-ext');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: $font;
  font-size: $font-size-base;
  color: $font-color-text;
}

.btn{
  border: 1px solid $secondary-color;
  padding: 1rem 2rem;
  align-self: center;

  &.btn-primary{
    background-color: $secondary-color;
    color: #FFFFFF;
    font-weight: 400;

    &:hover{
      background-color: darken($secondary-color, 10%);
      border: 1px solid darken($secondary-color, 10%);
    }

    &:focus{
      box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
    }

    &:not(:disabled):not(.disabled):active{
      background-color: $secondary-color;
      box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);

      color: #FFFFFF;
    }

    &.outline{
      background-color: #A4B8B8;
      border: 1px solid #A4B8B8;
      color: white;

      &:hover{
        background-color: darken(#A4B8B8, 10%);
      }
    }
  }
}

.btn-primary.disabled, .btn-primary:disabled{
  border-color:transparent;
}

.main#app {

  .header-container {
    padding: 40px 0;
    position: relative;

    &:before {
      position: absolute;
      width: 100%;
      content: '';
      height: 5px;
      top: 0;
      left: 0;
      background-color: #E3E3E3;
    }

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .contact-wrapper {
        flex: 1 1 0;
        text-align: justify;

        .address-wrapper {
          margin-bottom: 15px;
        }

        p {
          font-size: 0.7rem;
          margin: 0;
        }

        .contact {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .icon-contact {
          height: 20px;
          margin-right: 10px;
        }

        .mail-wrapper img {
          width: 20px;
          height: auto;
        }
      }

      .logo-wrapper {
        flex: 2 1 0;
        text-align: center;

        a img {
          width: 110px;
        }
      }

      .social-wrapper {
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
          margin: 0 20px;

          img {
            height: 20px;
            opacity: 0.6;
            transition: opacity 0.2s ease-in;

            &:hover {
              opacity: 1;
            }
          }

          &:nth-of-type(3) {
            margin-right: 0;
          }
        }
      }
    }
  }

  nav {
    width: 100%;
    background-color: $primary-color;

    .menu-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        color: rgba(255, 255, 255, .8);
        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        font-weight: 300;
        background-color: transparent;
        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: darken($primary-color, 10%);
          color: #ffffff;
        }
      }
    }

    .hamburger-wrapper {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .icon-contact{
        width: 15px;
        margin-right: 10px;
      }

      p.number{
        margin: 0;
        color: #ffffff;
        font-size: 0.8rem;
      }

      .menu-button {
        display: inline-block;
        padding: .5em;
      }

      .burger-icon {
        @include burger(25px, 3px, 5px, #444);
      }

      .menu-button.is-active .burger-icon {
        @include burger-to-cross;
      }
    }
  }

  footer.page-footer{
    background-color: $primary-color;
    color: $white;
    font-weight: 300;
  }
}

.section{

  padding: 80px 0;
}

.section.contact{
  background-color: #F5F5F5;
  width: 100%;
  background-image: url("/../images/bg-contact.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 300px;

  .title{
    font-family: $font-heading;
    color: $font-color-heading;
    margin-bottom: 40px;
    h4{
      font-size: 2.5rem;
    }
  }

  .contact-item{
    margin-bottom: 30px;
    margin-left: 40px;
    position: relative;

    p{
      margin-bottom: 5px;
      font-size: 1rem;
      font-weight: 300;
      color: $font-color-heading;

      &.description{
        margin-top: 10px;
        color: $font-color-text;
      }
    }

    &:before{
      content: '';
      position: absolute;
      left:-40px;
      top:5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }

    &.phone:before{
      background-image: url("/../images/phone-icon-color.png");
    }

    &.address:before{
      background-image: url("/../images/pin-icon-color.png");
    }
  }

  #map{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    display: block;
    top:0;
  }
}



.current-site-wrapper{
  padding: 40px 0;
  background-color: #ffffff;
  .title > * {
    font-family: $font-heading;
    color: $font-color-heading;
    font-size: 2.5rem;
    margin-left: 30px;
    position: relative;
    &:before{
      content: '';
      width: 15px;
      height: 15px;
      background-color: $secondary-color;
      position: absolute;
      left: -30px;
      top: calc(50% - 15px/2);
    }
  }
}


// Media queries

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .section .title-wrapper-center h3.title{
    &:before, &:after{
      width: 15% !important;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .main#app {
    .header-container {

      .header-wrapper {

        .contact-wrapper {
          display: none;
        }

        .social-wrapper {
          display: none;
        }
      }
    }

    nav {
      .menu-wrapper {
        flex-direction: column;
        text-align: center;
        display: none;

        a {
          //display: none;
          width: 100%;

          &.active{
            display: inline-block;
          }
        }
      }
      .hamburger-wrapper{
        display: flex;
      }
    }

    .section.contact #map{
      display: none;

    }
  }
}


.modal-header{
  border-bottom: none;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}


// Custom devices (desktops, less than 1200px)
@media (max-width: 1579.98px) {
  .section.contact {
    background-image: none;
  }

}