.section {
  padding: 80px 0;
}

.section.second {
  background: url("/../images/bg-section.png"), url("/../images/bg-section-2.png"), #FDFDFD;
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 200px;
}

.section .title-wrapper-center {
  margin-bottom: 80px;
}

.section .title-wrapper-center h3.title {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #636363;
  font-size: 2.5rem;
  margin-bottom: 0px;
  position: relative;
}

.section .title-wrapper-center h3.title:before,
.section .title-wrapper-center h3.title:after {
  content: "";
  width: 35%;
  height: 1px;
  background-color: #DFDFDF;
  position: absolute;
  top: calc(50% - 1px);
}

.section .title-wrapper-center h3.title:before {
  left: 15px;
}

.section .title-wrapper-center h3.title:after {
  right: 15px;
}

.section .text-left-module .title-wrapper-left h3.title {
  font-family: "Amatic SC", cursive;
  color: #636363;
  font-size: 2.5rem;
  margin-bottom: 40px;
  position: relative;
}

.section .text-left-module .title-wrapper-left h3.title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #60a980;
  left: 0;
  bottom: -20px;
}

.section .text-left-module .description-wrapper p {
  color: #AFAFAF;
  font-weight: 300;
  text-align: justify;
}

.section .text-left-module .button-wrapper {
  margin: 30px 0;
}

.section.idea .img-wrapper {
  width: 100%;
}

.section.idea .text-card {
  background: #FFFFFF;
  box-shadow: 0 0 34px -21px rgba(0, 0, 0, 0.5);
  padding: 40px 60px;
  z-index: 4;
  margin-left: -40px;
}

.section.idea .text-card h2 {
  font-family: "Amatic SC", cursive;
  color: #636363;
  margin-bottom: 30px;
}

.section.idea .text-card p {
  font-weight: 300;
  color: #AFAFAF;
  text-align: justify;
  font-size: 0.92rem;
}

.section.toys-about .img-wrapper-toys {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.section.toys-about .img-wrapper-toys .item {
  display: flex;
  width: 50%;
}

.section.toys-about .description-text {
  margin-left: 20px;
}

.section.toys-about .description-text p {
  font-weight: 300;
  font-size: 0.92rem;
  text-align: justify;
}

.section.toys-about .description-text .logo-toys {
  margin-top: 60px;
}

.section.toys-about .description-text .logo-toys p:first-of-type {
  font-weight: 400;
  color: #636363;
  margin-bottom: 0;
}

.section.toys-about .description-text .logo-toys .logo-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.section.toys-about .description-text .logo-toys .logo-wrapper img.logo {
  opacity: 0.4;
  transition: opacity 0.25s ease-in;
}

.section.toys-about .description-text .logo-toys .logo-wrapper img.logo:hover {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .home-page .top-section .buttons-wrapper {
    flex-direction: column;
  }

  .home-page .top-section .buttons-wrapper a {
    flex: 1 0 0;
  }

  .home-page .top-section .buttons-wrapper a:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .home-page .top-section .buttons-wrapper a:nth-of-type(2) {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .section.kawiarnia .image-wrapper {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .section.idea .text-card {
    margin-left: 0;
  }
}

